</main>
<a href="https://discord.gg/FDjuRHtZG8" target="_blank" style="text-decoration: none;">
    <h3 id="dis-link">Join our discord server</h3>
  </a>

    <a href="https://discord.gg/FDjuRHtZG8" target="_blank">
      <img src="../discord.png" alt="discord" id="discordIMG">
    </a>
</body>
</html>
<script src='/js/HeadFoot.js'></script>
