    <nav class="header-content">
      <img src="../logo.jpg" alt="Eris" class="header-logo">
      <h1 class="comp-name">Eris Studios</h1>
      <ul>
        <div id="navbar-links" style="margin-top: 4px">
          <li class="header-link"><a id="header-link" href="/login">Login</li>
          <li class="header-link"><a id="header-link" href="/games">Games</li>
          <li class="header-link"><a id="header-link" href="/shop">Shop</li>
            <li class="header-link"><a id="header-link-contact" href="/contact" >Contact</li>
              <li class="header-link"><a id="header-link-contact" href="/admin/add-product" >Add Product</li>
                <li class="header-link"><a id="header-link-contact" href="/admin/products" >Admin Products</li>
                </div>
        <div>
        <img src="../menu.png" class="menu-icon" id="menu-icon" style="display: none;">
      </div>
      </ul>
      </nav>