  <!-- HERE'S THE SIDE MENU -->
  
  <div class="side-menu">
    <a href="../games/Games.html">Games</a>
    <a href="../shop/Shop.html">Shop</a>
    <a href="../Contact_page/contact.html">Contact</a>
  </div>