section{
    display: flex;
    flex-wrap: wrap;
    align-items: auto;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  #section-head{
    color: rgb(237, 240, 212);
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 50px;
    padding: 0px;
  }
  
  .shop-item{
    width: 200px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
  
  }
  .shop-item img{
    width: 200px;
  }
  #item-data{
    color: white;
    font-family: sans-serif;
    margin: 0px;
    margin-top: 10px;
  
  }