    <%- include('../includes/head.ejs') %>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/games.css'>
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <%- include('../includes/side-menu.ejs') %>
    

      <!-- ABOVE IS THE SIDE MENU -->
      <div class="content">
        <section>
          <h2 id="section-head" style="width: 100%;">Games</h2>
          <div class="game">
            <img src="aaru.jpg">
            <h3 id="item-data">A'aru serpant of chaos</h3>
          </div>
        </section>

      </div>

<%- include('../includes/footer.ejs') %>





